.search-modal {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #555;

  .search-btn {
    background-color: #12969f;
    color: #fff;

    &:hover {
      background-color: darken(#12969f, 5);
    }
  }
}
