/*=== abstracts css start === */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Rufina:wght@400;700&display=swap");
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Rufina", serif;
  color: #333;
}

.section-padding {
  padding: 80px 0;
}

.color-brand {
  color: #12969f;
}

.text-global-primary {
  color: #333;
}

/*===// end of base css === */
/*=== components css start === */
.section-heading .section-title, .section-heading .line {
  font-family: "Inter", sans-serif;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}
.section-heading .line {
  color: #12969f;
  font-size: 80%;
}

.pagination .page-link {
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #606060;
}

.advertisement .title {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  color: #848484;
}

.blog-card .media {
  position: relative;
}
.blog-card .media::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
}
.blog-card .category {
  font-family: "Inter", sans-serif;
  color: #12969f;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
.blog-card .title {
  color: #333;
  font-weight: 700;
  margin: 10px 0 15px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
.blog-card .title.line-clump-4 {
  -webkit-line-clamp: 4;
}
.blog-card .author {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #848484;
  font-weight: 500;
}
.blog-card:hover .media::before {
  background: rgba(0, 0, 0, 0.4);
}

.blog-card-horizontal .category {
  font-family: "Inter", sans-serif;
  color: #12969f;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
.blog-card-horizontal .title {
  color: #333;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
@media (min-width: 1200px) {
  .blog-card-horizontal .title {
    -webkit-line-clamp: 3;
  }
}
@media (min-width: 1400px) {
  .blog-card-horizontal .title {
    font-size: 17px;
    -webkit-line-clamp: 4;
  }
}
.blog-card-horizontal .author {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #848484;
  font-weight: 500;
}

.spotlight-card .text-content {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent);
  display: grid;
  place-content: end;
}
.spotlight-card .category {
  font-family: "Inter", sans-serif;
  color: #17c1cd;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.spotlight-card .title {
  color: #fff;
  font-weight: 700;
  margin-top: 10px;
}
.spotlight-card .author {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}

/*===// end of components css === */
/*=== layout css start === */
.top-navigation .navbar-brand {
  max-width: 150px;
}
@media (min-width: 768px) {
  .top-navigation .navbar-brand {
    max-width: 300px;
  }
}
@media (min-width: 1400px) {
  .top-navigation .navbar-brand {
    max-width: 350px;
    padding: 10px 0;
  }
}
.top-navigation .nav-link, .top-navigation .bottom-navigation .line, .bottom-navigation .top-navigation .line {
  color: #333;
}
.top-navigation .nav-link:hover, .top-navigation .bottom-navigation .line:hover, .bottom-navigation .top-navigation .line:hover {
  color: #12969f;
}

.bottom-navigation {
  overflow-x: auto;
}
.bottom-navigation .nav-link, .bottom-navigation .line {
  font-family: "Inter", sans-serif;
  color: #000;
  padding: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (max-width: 1399px) {
  .bottom-navigation .nav-link, .bottom-navigation .line {
    font-size: 14px;
  }
}
.bottom-navigation .nav-link.active, .bottom-navigation .active.line, .bottom-navigation .nav-link:hover, .bottom-navigation .line:hover {
  color: #12969f;
}
.bottom-navigation .line {
  font-weight: 700;
  color: #12969f;
}

.footer .navbar-brand {
  max-width: 150px;
}
@media (min-width: 768px) {
  .footer .navbar-brand {
    max-width: 250px;
  }
}
@media (min-width: 1400px) {
  .footer .navbar-brand {
    max-width: 280px;
  }
}
.footer .social-link .nav-link {
  color: #777777;
  padding: 0.5rem;
}
.footer .copyright, .footer .footer-nav .nav-link {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #555;
}
.footer .footer-nav .nav-link {
  display: inline-block;
  text-decoration: underline;
  padding: 0.5rem;
}

/*===// end of layout css === */
/*=== pages start === */
@media (max-width: 991px) {
  .home .blog-card-horizontal .title {
    -webkit-line-clamp: 2;
  }
}
@media (min-width: 1200px) {
  .home .blog-card-horizontal .title {
    font-size: 19px;
  }
}
@media (min-width: 1400px) {
  .home .blog-card-horizontal .title {
    font-size: 22px;
    -webkit-line-clamp: 3;
  }
}
.home .editors-pick {
  background: #eff9fa;
}
@media (min-width: 1200px) {
  .home .editors-pick .blog-card-horizontal .title {
    font-size: 14px;
  }
}
@media (min-width: 1400px) {
  .home .editors-pick .blog-card-horizontal .title {
    font-size: 16px;
    -webkit-line-clamp: 3;
  }
}
.home .blog-category-wise .blog-category-title {
  font-weight: 700;
  color: #000;
  font-style: italic;
  text-align: center;
}

.article-details .category {
  font-family: "Inter", sans-serif;
  color: #12969f;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
.article-details .title {
  color: #333;
  font-weight: 700;
  margin: 10px 0 15px 0;
}
.article-details .short-description {
  color: #333;
}
.article-details .author {
  font-family: "Inter", sans-serif;
  color: #848484;
  font-weight: 500;
}
.article-details .img-caption {
  color: #333;
  font-size: 14px;
}
.article-details .description-details .description {
  color: #333;
}
@media (min-width: 1400px) {
  .article-details .description-details .description {
    font-size: 18px;
  }
}
.article-details .description-details .copyright {
  color: #333;
  font-size: 14px;
}

/*===// end of pages  === */