.home {
  .blog-card-horizontal {
    .title {
      @media (max-width: 991px) {
        -webkit-line-clamp: 2;
      }
      @media (min-width: 1200px) {
        font-size: 19px;
      }
      @media (min-width: 1400px) {
        font-size: 22px;
        -webkit-line-clamp: 3;
      }
    }
  }

  .editors-pick {
    background: #eff9fa;

    .blog-card-horizontal {
      .title {
        @media (min-width: 1200px) {
          font-size: 14px;
        }
        @media (min-width: 1400px) {
          font-size: 16px;
          -webkit-line-clamp: 3;
        }
      }
    }
  }

  .blog-category-wise {
    .blog-category-title {
      font-weight: 700;
      color: #000;
      font-style: italic;
      text-align: center;
    }
  }
}
