.home {
  .blog-card-horizontal {
    .title {
      @media (max-width: 991px) {
        -webkit-line-clamp: 2;
      }
      @media (min-width: 1200px) {
        font-size: 19px;
      }
      @media (min-width: 1400px) {
        font-size: 22px;
        -webkit-line-clamp: 3;
      }
    }
  }

  .editors-pick {
    background: #eff9fa;

    .blog-card-horizontal {
      .title {
        @media (min-width: 1200px) {
          font-size: 14px;
        }
        @media (min-width: 1400px) {
          font-size: 16px;
          -webkit-line-clamp: 3;
        }
      }
    }
  }

  .blog-category-wise {
    .blog-category-title {
      font-family: "Fugaz One", cursive;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      font-style: italic;
      text-align: center;
    }
  }

  .condition-table {
    td,
    th {
      background-color: transparent;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      color: #333;
      font-size: 18px;
      padding: 1.5rem 0.5rem;

      @media (min-width: 1400px) {
        font-size: 21px;
      }
    }

    th {
      color: #12969f;
    }
  }
}
